.mainContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 35rem;

      @media (max-width: 775px) {
    align-items: center;
    

  }
}

.mainText{
        @media (max-width: 775px) {
    text-align: center;
    

  }
}

.linkText {
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  color: var(--color-white);
  opacity: 0.7;
  font-weight: 700;
}
