@use '../../styles/variables' as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
   background-image:  url('../../assets/background-stars.svg');
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}