.nav {
  @media (max-width: 600px) {
    display: none;
  }
}

.navList {
  display: flex;
  list-style: none;
  gap: 3.3rem;
  font-family: var(--font-family-league-spartan);
  font-style: normal;
  font-weight: 700;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.navLink {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
  font-size: 1.1rem;
}

.active {
  opacity: 1;
}

