.contentWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 12.6rem 16.5rem 8.7rem 16.5rem;

  @media (max-width: 1375px) {
    margin: 12.6rem 2rem 8.7rem 2rem;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  @media (max-width: 775px) {
    grid-template-columns: 1fr;
    margin-bottom: 2.8rem;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media (max-width: 1000px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 775px) {
    flex-direction: column;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 35rem;

  @media (max-width: 775px) {
    display: none;
  }
}

.mobileTabs {
  display: none;

  @media (max-width: 775px) {
    display: flex;
    gap: 4.4rem;
    justify-content: center;
    border-bottom: 1px solid #97979733;
  }
}

.mobileTab {
  height: 5rem;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  min-width: 8rem;
  font-family: var(--font-family-league-spartan);
  font-size: 0.9rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  text-transform: uppercase;
  opacity: 0.75;
    border-bottom: 4px solid transparent;
}

.tabsBtn {
  width: 100%;
  display: flex;
  padding: 1.2rem 2.8rem;
  border: 1px solid #97979733;
  background-color: transparent;
  color: var(--color-white);
  gap: 2.8rem;
}

.tabsBtn:hover {
  background-color: var(--color-grey-blue);
}

.numbering {
  opacity: 0.5;
}

.mercury {
  background-color: var(--color-mercury);
}

.venus {
  background-color: var(--color-venus);
}

.earth {
  background-color: var(--color-earth);
}

.mars {
  background-color: var(--color-mars);
}

.jupiter {
  background-color: var(--color-jupiter);
}

.saturn {
  background-color: var(--color-saturn);
}

.uranus {
  background-color: var(--color-uranus);
}

.neptune {
  background-color: var(--color-neptune);
}

.mercuryTab {
  opacity: 1;
  border-bottom-color: var(--color-mercury);
}


.venusTab {
  opacity: 1;
  border-bottom-color: var(--color-venus);
}

.earthTab {
  opacity: 1;
  border-bottom-color: var(--color-earth);
}

.marsTab {
  opacity: 1;
  border-bottom-color: var(--color-mars);
}

.jupiterTab {
  opacity: 1;
  border-bottom-color: var(--color-jupiter);
}

.saturnTab {
  opacity: 1;
  border-bottom-color: var(--color-saturn);
}

.uranusTab {
  opacity: 1;
  border-bottom-color: var(--color-uranus);
}

.neptuneTab {
  opacity: 1;
  border-bottom-color: var(--color-neptune);
}