.nav {
  @media (min-width: 600px) {
    display: none;
  }
}

.navList {
  display: flex;
  list-style: none;
  font-family: var(--font-family-league-spartan);
  font-style: normal;
  font-weight: 700;
  margin-top: 2.4rem;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.navLink {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-block: 2rem;
  padding-inline: 3.2rem;
  border-bottom: 1px solid #97979733;
}

.linkWrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.active {
  opacity: 1;
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
}
