.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planetImage {
  display: block;
  width: auto;
  height: auto;
  max-width: none;
}

.withGeology {
  margin-bottom: 100px;
}

.geologyImage {
  position: absolute;
  bottom: 0;
  width: 16.3rem;
  transform: translateX(-50%);
  left: 50%;
}

.saturn {
  bottom: 130px;
}
